extends ../share/layout.pug

block scripts
//-   script(src='/jquery.js')


block content
    .container-fluid.my-5
        unless isLoggedIn
            h1.text-muted.mx-5
                em Please Sign In!

        br

        if isLoggedIn
            h3.text-muted.mx-5.
                Welcome to my website!
                You are logged in as (#{userName}).



