extends share/layout

block scripts

block content
    .container-fluid.my-5
        if isLoggedIn
            h3.text-muted.mx-5
                em Logged in as -
                strong.badge.badge-pill.badge-dark #{email}

            form.pd-1.mx-5(method='GET', action='/logout')
                button.btn.btn-outline-danger.btn-lg.mx-5.px-5 Sign Out!
        else
            br
            form.pd-1.mx-5(method='GET', action='/register')
                button.btn.btn-outline-primary.btn-lg.mx-5.px-5 Sign Up!

            form.pd-1.mx-5(method='GET', action='/login')
                button.btn.btn-outline-success.btn-lg.mx-5.px-5 Sign In!