extends ../share/layout

block scripts
//-   script(src='/jquery.js')


block content
    .container-fluid.my-5
        unless isLoggedIn
            h1.text-muted.mx-5
                em Welcome...

        br

        if isRegistered && !isLoggedIn
            h5.text-muted.mx-5 Registered Successfully!

        if isLoggedIn
            h3.text-muted.mx-5
                em Logged in as -
                strong.badge.badge-pill.badge-dark #{userName}

            form.pd-1.mx-5(method='GET', action='/api/logout')

                button.btn.btn-outline-danger.btn-lg.mx-5.px-5 Sign Out!

        else
        
            br

            form.pd-1.mx-5(method='GET', action='/api/register')

                button.btn.btn-outline-primary.btn-lg.mx-5.px-5 Sign Up!

            form.pd-1.mx-5(method='GET', action='/api/login')

                button.btn.btn-outline-success.btn-lg.mx-5.px-5 Sign In!


